<!-- Loading animation-->
<div id="preloader" ng-show="isLoading">

    <div id="status">
        
    </div>
</div>
<!-- Main page-->
    <!--header-->
    <nav>
        <div class="nav-wrapper nav__wrapper">
            <ul id="slide-out" class="side-nav">
                <li><a href="#!">First Sidebar Link</a></li>
                <li><a href="#!">Second Sidebar Link</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
            <a href="#" class="brand-logo"><img src="Logo.png" width="160"></a>
            <ul id="nav-mobile" class="right">
               
            </ul>
        </div>
    </nav>
    <!--landing page-->
    <section class="section section__page1">
        <div class="row">
            <h1 class="white-text center-align">Bangkok</h1>
            <p class="white-text center-align">Activities, experiences & memories</p>
        </div>
        <div class="col s12 page1__menu" id="slide">
            <ul class="tabs z-depth-2">
                <li class="tab col s2">
                    <a class="active" href="#"><img src="work/star-50.png" width="25vh">
                        <p>Best in Bangkok</p>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#"><img src="work/base_jumping-50.png" width="25vh">
                        <p>Adventure</p>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#"><img src="work/historical-50.png" width="25vh">
                        <p>History</p>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#"><img src="icons/home.ico" width="25vh">
                        <p>Culture</p>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#"><img src="work/binoculars-50.png" width="25vh">
                        <p>Sightseeing</p>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#"><img src="work/cocktail-50.png" width="25vh">
                        <p>Nightlife</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="container portfolio">
        <div class="row">
            <div class="col s12 m12 l12 portfolio-holder" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-disabled="stop">
                <div class="col s4 portfolio__card" ng-repeat="nm in names" >
                    <div class="dud z-depth-2" ng-click="go('/activity', nm.name)">
                    <div class="sprite sight_seeing"></div>
                        <div class="portfolio__head">
                            <p>{{nm.name}}</p>
                        </div>
                        <div class="portfolio__foot">
                            <img src="icons/calender.ico" class="portfolio__foot__img">
                            <p class="portfolio__foot__price">${{nm.price}}</p>
                            <div class="portfolio__foot__slot"><b>Next Available:</b>
                                <br>date</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- All activities button-->
        <a class="waves-effect waves-light btn-large">See all the Best Activities in Bangkok</a>
    </div>
    <footer class="page-footer hide-on-small-only">
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <p>Travel stories, ideas or &lt;optimism&gt; <a href="https://angel.co/ithaka-experience-it-all">investment offers</a> &lt;/optimism&gt; , we want to hear from you! Shout <span>hello@getithaka.com</span></p>
                    <p>Are you an utterly kickass<i> Django or AngularJS developer</i> ? Your next adventure could be <span>careers@getithaka.com</span></p>
                    <p class="heart">
                        Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Bangalore
                    </p>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2015 Traveljunkie Solutions Pvt. Ltd.
                </div>
            </div>
    </footer>

