body {
    padding: 0px;
    margin: 0px auto;
    position: static;
    font-family: Lato;
    color: white;
    text-align: center;
    font-size: 1em;
    background-color: #DEDEDE;
}

.side-nav li {
    text-align: left;
}

.side-nav__div {
    background-color: blue;
    height:
}

.tabs {
    position: relative;
    width: 140vw !important;
}

.tabs .tab {
    font-size: .65em;
    width: 30vw;
}

.page1__menu {
    position: relative;
    top: 15vw;
}

.tab a > p {
    position: relative;
    top: -37px;
}

.nav-wrapper {
    background-color: white;
}

nav a {
    color: #58D6D5 !important;
}

.section__page1 {
    background-image: url('../work/bg_1.jpg');
    background-repeat: no-repeat;
}

.section__page2 {
    height: auto;
    background-color: #858585;
}
/* Activies*/

.portfolio {
    background-color: #DEDEDE;
    padding: 3vw 50px;
    width: 100%;
}
.portfolio .col {
    margin-bottom: 24px;
}

.portfolio h5 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolio h6 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.portfolio .portfolio-holder {
    clear: both;
    text-align: center;
}
.portfolio__head{
    font-size: 1.5em;
    top: -30px;
    padding-top: 0px;
    width: inherit;
    text-align: left;
}
.portfolio__foot{
    position: absolute;
    bottom: 3px;
    left: 0px;
    background-image: 
    -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.82));
    linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.82));
    width: inherit;
    padding: 18px;
    padding-bottom: 0px;
}
.portfolio__foot__price{
    float: left;
    font-size: 1.8em;
}
.portfolio__foot__slot{
    float: right;
    font-size: 1em;
}
.dud{
    background-image: url('../work/bg_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 100px;
    position: relative;
}
@media (min-width: 1191px) {
    .nav-wrapper {
        background-color: #E62163;
    }
    .section{
        height: 80vh;
    }
    .section__page1 {
        background-size: 100vw;
        background-position: bottom;
    }
    .tabs{
        top: 4.5vw;
        width: 100vw !important;
        height: 11vh;
    }
    .tabs .tab{
        font-size: .9em;
    }
    .portfolio{
        padding-left: 8em;
    }
    .dud {
        padding: -5px 3px;
        width: 26vw;
        height: 20vw;
        display: inline-block;
        float: left;
    }
    .portfolio__head{
        width: inherit; 
        position: absolute;
        padding-top: 10px;
        font-size: 1.8em;
    }
    .portfolio__foot{
        width: inherit;

    }
    .portfolio__foot__price{
        font-size: 2em;
        position: absolute;
        bottom: -25px;
        color: orange;
    }
    .portfolio__foot__slot{
        font-size: 1em;
        position: absolute;
        right: 8px;
        bottom: 8px;
        text-align: left;
    }
    .portfolio__foot__img{
        width: 2em;
        position: absolute;
        right: 120px; 
        bottom: 15px;
    }
}
@media (min-width: 990px) and (max-width: 1190px) {
    .nav-wrapper {
        background-color: #E62163;
    }
    .section{
        height: 80vh;
    }
    .section__page1 {
        background-size: 100vw;
        background-position: bottom;
    }
    .tabs{
        top: 8.7vw;
        width: 100vw !important;
        height: 12vh;
    }
    .tabs .tab{
        font-size: .9em;
    }
    .dud {
        padding: 6px 3px;
        width: 38vw;
        height: 25vw;
        display: inline-block;
        float: left;
    }
    .portfolio__card{
        width: 40vw !important;
    }
     .portfolio__head{
        width: inherit; 
        position: absolute;
        padding-top: 10px;
        font-size: 1.8em;
    }
    .portfolio__foot{
        width: inherit;
    }
    .portfolio__foot__price{
        font-size: 2em;
        position: absolute;
        bottom: -25px;
        color: orange;
    }
    .portfolio__foot__slot{
        font-size: 1em;
        position: absolute;
        right: 8px;
        bottom: 8px;
        text-align: left;
    }
    .portfolio__foot__img{
        width: 2em;
        position: absolute;
        right: 120px; 
        bottom: 15px;
    }
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 989px) {
    .section{
        height: 60vh;
    }
    .section__page1 {
        background-size: 100vw;
        background-position: bottom;
    }
    .tabs{
        top: 1.5vw;
        height: 10.2vh;
    }
    .tabs .tab{
        font-size: 1em;
    }
    .portfolio{
        padding: 5vw 50px;
    }
    .dud {
        padding: 6px 3px;
        width: 37vw;
        height: 28vw;
        display: inline-block;
        float: left;
        background-size: 50vw;
    }
    .portfolio__card{
        width: 40vw !important;
    }
     .portfolio__head{
        width: inherit; 
        position: absolute;
        padding-top: 10px;
        font-size: 1.8em;
    }
    .portfolio__foot{
        width: inherit;

    }
    .portfolio__foot__price{
        font-size: 2em;
        position: absolute;
        bottom: -25px;
        color: orange;
    }
    .portfolio__foot__slot{
        font-size: 1em;
        position: absolute;
        right: 8px;
        bottom: 8px;
        text-align: left;
    }
    .portfolio__foot__img{
        width: 2em;
        position: absolute;
        right: 120px; 
        bottom: 15px;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) and (min-width: 481px) {
    .section {
        height: 55vh;
    }
    .section__page1 {
        background-size: 100vw;
    }
    .tabs {
        top: 35px;
        height: 8vh;
    }
    .container .row{
        padding-top: 5vw;
        padding-left: 0px;
    }
    .dud {
        padding: 3vw 3px;
        width: 80vw;
        height: 40vh;
        display: inline-block;
        float: left;
    }
    .portfolio__card{
        width: 45vw !important;
    }
    .portfolio__head{
        width: inherit; 
        position: absolute;
        padding-top: 8px;
        font-size: 1.8em;
    }
    .portfolio__foot{
        width: inherit;
    }
    .portfolio__foot__price{
        font-size: 2em;
        position: absolute;
        bottom: -25px;
        color: orange;
    }
    .portfolio__foot__slot{
        font-size: 1.1em;
        position: absolute;
        right: 8px;
        bottom: 8px;
        text-align: left;
    }
    .portfolio__foot__img{
        width: 2em;
        position: absolute;
        right: 120px; 
        bottom: 15px;
    }


}
/* Landscape phones and down */

@media screen and (max-width: 480px) {
    .section {
        height: 50vh;
    }
    .section__page1 {
        background-size: 100vw;
    }
    .tabs {
        top: 2vw;
    }
    .dud {
        padding: 6px 3px;
        width: 80vw;    
        height: 45vw;
        display: inline-block;
        float: left;
        background-size: 85vw;
    }
    .portfolio__card{
        width: 45vw !important;
    }
    .portfolio__head{
        width: inherit;
        position: absolute;
        padding-top: 5px; 
        font-size: 1.8em;   
    }
    .portfolio__foot{
        width: inherit;
    }
    .portfolio__foot__price{
        font-size: 2em;
        position: absolute;
        bottom: -25px;
        color: orange;
    }
    .portfolio__foot__slot{
        font-size: 1em;
        position: absolute;
        right: 8px;
        bottom: 8px;
    }
    .portfolio__foot__img{
        width: 2em;
        position: absolute;
        right: 110px;
        bottom: 15px; 
    }
}
